<% if past_trips %>
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">Past Trips</p>
    </div>
  </div>

  <div class="row">
    <% past_trips.each do |trip| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"><%= trip.name %></h2>
            <p class="card-text">
              From: <%= trip.formatted_start_date %>
            </p>
            <p class="card-text">
              Until: <%= trip.formatted_end_date %>
            </p>
          </div>
          <div class="card-footer">
            <%= link_to 'More info', trip_path(trip), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
