<div class="row">
  <h2>Upcoming Trips</h2>
</div>
<div class="row">
  <% @trips.upcoming.each do |trip| %>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= trip.name %></h5>
        <p class="card-text">
          From: <%= trip.start_date if trip.start_date %>
        </p>
        <p class="card-text">
          Until: <%= trip.end_date if trip.end_date %>
        </p>
        <%= link_to 'Show trip', trip_path(trip), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
