<h1> My trips </h1>
<div class="row">
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <%= link_to 'Add a trip', new_trip_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render './current_trips' %>
<%= render './upcoming_trips' %>
<%= render './past_trips' %>
