<div class="container">
  <% if @trips %>
    <%= render 'trips/current_trips' %>
    <div class="row">
      <div class="col-md-12 mb-12">
        <%= link_to 'ADD A TRIP', new_trip_path, class: "btn btn-block btn-success btn-lg" %>
      </div>
    </div>
    <%= render 'trips/upcoming_trips' %>
    <%= render 'trips/past_trips' %>
  <% end %>
</div>
