<div class="container">
  <% if @trips %>
    <%= render 'trips/current_trips' %>
    <%= render 'trips/upcoming_trips' %>
    <%= render 'trips/past_trips' %>
  <% end %>
  <%= link_to 'Add a trip', new_trip_path, class: "btn btn-primary btn-lg" %>
</div>
