<h1>Transports</h1>

<% @transports.each do |transport| %>
  <div>
    <p>
      Type of Transport: <%= transport.type_of_transport %>
    </p>
    <p>
      Start Location: <%= transport.start_location %>
    </p>
    <p>
      End Location: <%= transport.end_location %>
    </p>
  </div>
<% end %>
